version: '3.8'

services:
  tobacco-tracker-setup:
    build:
      context: ./render-setup
      dockerfile: Dockerfile
    environment:
      - DATABASE_URL=postgresql://user:password@postgres:5432/tobacco_tracker
    container_name: tobacco-tracker-db-setup
    restart: "no"
