version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: nextjs/Dockerfile
    ports:
      - "3000:3000"
    env_file:
      - .env.production
    restart: always

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - app
    restart: always
